.auth-form { background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }
input { display: block; width: 250px; margin-bottom: 10px; padding: 10px; border: 1px solid #ccc; border-radius: 4px; }
button { padding: 10px; cursor: pointer; border: none; border-radius: 4px; background: #007bff; color: white; }
#btn-signup { background: #28a745; margin-right: 5px; }
#message { margin-top: 10px; font-size: 0.9em; color: red; }



a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #629ebc;
    color: #fffefe;
    transition: background-color 0.3 ease;
    margin: 20px;
    text-decoration-line: none;
}

a:hover {
    background-color: #4a7a9c;
}


/* Ajouter la photo de Elder Risk dans le header des html */
header {
    background-color: #76b4d3;
    color: #fffefe;
    text-align: center;
    width: 100%;
    z-index: 1000; 
    display: flex;         
    justify-content: center;          
}



body { 
    font-family: sans-serif; 
    display: flex; 
    flex-direction: column;
    background: #f4f4f4; 
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    
}




footer {
    background-color: #76b4d3;
    color: #fffefe;
    padding: 30px;
    width: 100%;
    flex : 1;
    text-align: center;

    

}



